/* .navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 3rem;
  color: var(--color-fg);
  background-color: var(--color-bg);

  .navbar__item {
    a{color: white;}
    --_offset: 0.2rem;
    padding: 0.5rem 1rem;
    text-decoration: none;
    text-decoration-thickness: 0.1rem;
    text-underline-offset: var(--_offset);
    cursor: pointer;
    transition: text-underline-offset 0.2s ease-in-out;
    &:hover {
      --_offset: 0.5rem;
    };
   
 
  };
}; */

/* =========================================
   DESIGN DU MODE "CHOIX DE PROFIL"
   ========================================= */

/* On transforme le header pour qu'il prenne tout l'écran */
body.mode-connexion #header {
    height: 80vh; /* Prend presque tout l'écran */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* On change l'affichage de la liste pour empiler et centrer */
body.mode-connexion .navbar__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    transform: scale(1.5); /* On grossit tout ! */
}

/* On CACHE le bouton "Home" et "Déconnexion" car ils ne servent à rien ici */
body.mode-connexion .navbar__item:nth-child(1),
body.mode-connexion .navbar__item:nth-child(2) {
    display: none; 
}

/* On cache aussi le message "Veuillez choisir un profil" du content puisqu'on a une belle interface */
body.mode-connexion #content {
    display: none;
}