<section class="addProfile">
    <h4>Ajouter ou modifier un profil</h4>
    <form class="addProfile__form" id="form_profile">
        
        <select name="id" onchange="C.handlerSelectProfile(this.value)">
            <option value="">-- Nouveau profil --</option>
            {{options}}
        </select>
        
        <input required type="text" name="nom" id="p_nom" placeholder="Nom du profil">
        <input type="text" name="avatar" id="p_avatar" placeholder="Avatar (ex: jean.png)">
        
        <select name="age" id="p_age">
            <option value="0">Tous publics</option>
            <option value="10">Déconseillé aux -10 ans</option>
            <option value="12">Interdit aux -12 ans</option>
            <option value="16">Interdit aux -16 ans</option>
            <option value="18">Interdit aux -18 ans</option>
        </select>
        
        <button type="button" onclick="{{handler}}">Enregistrer</button>
    </form>
</section>